<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    <link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
    <!-- End stylesheets -->
    <title>{{ config.extra.lekhz_name | default(value="My Site") }}</title>
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon.ico') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="{{ get_url(path='js/dark.js') }}" defer=""></script>

</head>
